.wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
    width: 90%;;
    padding: 50px;
    

    main {
        grid-area: content;
        padding: 48px;
        background-color: #FCFBFC;
        box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.53);
        border-radius: 10px;

        .toolbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;

            .prev:hover, .next:hover {
                cursor: pointer;
            }
        }

        .calendar {
            background-color: white;
            border: 1px solid #e1e1e1;
            margin-bottom: 50px;
            box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.53);
            border-radius: 10px;
        }
        
        .calendar_header {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-auto-rows: 50px;
            align-items: center;
            text-align: center;

            .day {
                text-transform: uppercase;
                font-size: 0.8em;
                font-weight: bold;
            }
        }
        
        .calendar_body {
            display: grid;
            grid-template-columns: repeat(2, 12.5%);

            .calendar_hours {
                div {
                    border-right: 1px solid #e1e1e1;
                    border-top: 1px solid #e1e1e1;
                    padding: 16px;
                }
            }

            .calendar_day {
                display: grid;
                grid-auto-rows: repeat(7, 70px);
                grid-template-columns: repeat(7, 100%);
                text-align: right;

                .hour_cell {
                    border-right: 1px solid #e1e1e1;
                    border-top: 1px solid #e1e1e1;
                    padding: 5px;
                
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
    }
}
   
 