.dayColumn {
    position: relative;

    .event {
        position: absolute;
        width: 10%;
        height: 10px;
        border-radius: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        -webkit-box-shadow: 3px 3px 13px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 13px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 13px -1px rgba(0,0,0,0.75);
    }
}